:root {
  color: whitesmoke;
}
/* Image added at 2357 EST */
body {
  background-image: url(./image/aeroplanesPatternBackgroundSourced.png);
  
}

/* Adds a nice effect to the map image 0111 EST */
#image {
  border-radius: 1rem;
  -moz-box-shadow: 0 0 1.5rem rgb(99, 99, 99);
  -webkit-box-shadow: 0 0 1.5rem rgb(158, 158, 158);
  box-shadow: 0 0 1.5rem rgb(100, 100, 100);
 }

 #image:hover {
  -moz-box-shadow: 0 0 1.5rem rgb(41, 41, 41);
  -webkit-box-shadow: 0 0 1.5rem rgb(73, 71, 71);
  box-shadow: 0 0 1.5rem rgb(22, 18, 18);
 }

/* May use this one 0224 EST */
 /* .card-forecast {
   background-color: rgb(31, 30, 30);
   color: whitesmoke;
 } */

 



